html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #EFEFEF;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 1000px;
    display: grid;
    margin: auto;
}

.wrapper {
    margin: 20px;
}

