html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1000px;
    display: grid;
    padding: 40px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container {
        padding: 20px;
    }
}